      h1 {
         color: #666666;
      }
      
      .flash {
         background-color: #99ccff;
         width: 500px;
         padding: 5px;
         margin-bottom: 20px;
      }
      
      .entrada {
         width: 500px;
         border: 1px solid #999999;
         background-color: #f7f7f7;
         padding-bottom: 40px;
         *padding-bottom: 0px;
         margin-bottom: 5px;
      }
      
      .top {
         font-weight: bold;
      }
      
      .top .left {
         background-color: #eeeeee;
         float: left;
         width: 230px;
         *width: 249px;
         padding: 10px;
      }
      
      .top .right {
         background-color: #eeeeee;
         float: left;
         text-align:right;
         width: 230px;
         *width: 249px;
         padding: 10px;
      }
      
      .content {
         padding: 10px;
         padding-top: 25px;
         *padding-top: 0px;
      }
      
      .bottom .left {
         background-color: #eeeeee;
         float: left;
         width: 230px;
         *width: 249px;
         padding: 10px;
      }
      
      .bottom .right {
         background-color: #eeeeee;
         float: left;
         text-align:right;
         width: 230px;
         *width: 249px;
         padding: 10px;
      }
      
      
      div.create {
         padding-bottom: 0px;
      }
      
      
      form {
         padding: 10px;
         padding-bottom: 0px;
      }
      
      textarea {
         width: 380px;
         height: 160px;
      }
      
      input[type=text] {
         width: 380px;
      }