<?xml version="1.0" encoding="UTF-8" ?>
<app>
  <name>Movix</name>
  <description>Gestor de peliculas</description>
  <version>0.1</version>
  <langs>es</langs>
  <code></code>
  <tags>movies</tags>
  <site></site>
  <docs></docs>
  <update></update>
  <entry_point>
    <controller>movie</controller>
    <action>list</action>
  </entry_point>
</app>
