<?xml version="1.0" encoding="UTF-8" ?>
<app>
  <name>Tests</name>
  <description>Aplicacion de testeo</description>
  <version>0.1</version>
  <langs>es en it</langs>
  <code></code>
  <tags>blog</tags>
  <site>http://code.google.com/p/yupp/</site><!-- & codificado como entity &amp;, si no no carga el xml -->
  <docs>http://code.google.com/p/yupp/downloads/detail?name=Yupp%20Framework%20PHP%20v0.1.6.7%20-%20Sistema%20de%20Blog%20simple.pdf&amp;can=2&amp;q=</docs>
  <update></update>
  <entry_point>
    <controller>helpersTest</controller>
    <action>index</action>
  </entry_point>
</app>
