##  Can be commented out if causes errors, see notes above.
#Options +FollowSymLinks
Options +FollowSymLinks -Indexes -MultiViews 

#
#  mod_rewrite in use

RewriteEngine On

#RewriteBase   /usr/local/apache2/htdocs/proyectosd/portal

# Si es un archivo fisico, dejarlo pasar.
RewriteCond %{REQUEST_FILENAME} !-f

# Todo va al punto de entrada
RewriteRule (.*) ./index.php
